{% extends "base.html" %}

{% block content %}
<div class="card p-4">
    <h2>{{ titel }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.naam.label(class="form-label") }}
            {{ form.naam(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.leeftijd.label(class="form-label") }}
            {{ form.leeftijd(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.nationaliteit.label(class="form-label") }}
            {{ form.nationaliteit(class="form-control") }}
        </div>

        {{ form.submit(class="btn btn-success") }}
    </form>
</div>
{% endblock %}